<!-- FOOTER -->
<div id="footer" class="container-lightblue">
    <div class="container hero-container">
        <div class="col-md-3">
            <h4><a href="/">Home</a></h4>
            <h4><a href="/about">About</a></h4>
            <h5><a href="/about/solution">Solution</a></h5>
            <h5><a href="/about/faq">FAQ</a></h5>
        </div>
        <div class="col-md-3">
            <h4><a href="/technology">Technology</a></h4>
            <h4><a href="/docs">Library</a></h4>
        </div>
        <div class="col-md-3">
            <h4>Contact</h4>
        </div>
        <div class="col-md-3">
            <img src="/img/logo.svg" />
        </div>
    </div>
</div>