<p>
  The Sovrin Foundation

The Sovrin Foundation is a private-sector, international non-profit that was established to govern the world’s first self-sovereign identity (SSI) network. The Internet is missing a layer for secure identity which is currently costing us hundreds of billions of dollars each year. The Sovrin Foundation is showing the world that when we control our own identities, many exciting and liberating possibilities are at our fingertips.
Providing an enduring  solution for global identity requires significant effort and careful planning. The Sovrin Foundation exists to provide the human governance and trust frameworks that will be needed to establish ground rules and ensure the integrity of the network. To be effective at this task, the Sovrin Foundation has been designed to establishes trust through transparency, diffusion, and neutrality.
The Sovrin Foundation has intentionally invited board members to represent expertise from across multiple industries and geographies, ensuring that special interests – whether commercial, governmental, or otherwise – do not unduly influence decisions. Our intent is to devise a process so that the elected Board of Trustees will be representative of the people and organizations who own identities on the Sovrin network.
Sovrin Foundation is a non-profit. We don’t actually own the network – no one does, much like the Internet itself. The Sovrin network is public: everyone can get a Sovrin identity. Individuals and organizations own and control their identities. The Sovrin network is permissioned: the infrastructure for ensuring consensus on identity transactions is provided by carefully vetted and permissioned stewards who independently own and operate their nodes on the network.  These combine to form a system of checks and balances that earns trust through action rather than promises. 

We are the Sovrin Foundation. 
</p>
