<div class="container">

    <h1 class="text-center">About</h1>

    <div class="col-xs-12">
        <h2 class="text-center">The Sovrin Foundation</h2>
        <p>


        The Sovrin Foundation is a private-sector, international non-profit that was established to govern the world’s first self-sovereign identity (SSI) network. The Internet is missing a layer for secure identity which is currently costing us hundreds of billions of dollars each year. The Sovrin Foundation is showing the world that when we control our own identities, many exciting and liberating possibilities are at our fingertips.
        Providing an enduring  solution for global identity requires significant effort and careful planning. The Sovrin Foundation exists to provide the human governance and trust frameworks that will be needed to establish ground rules and ensure the integrity of the network. To be effective at this task, the Sovrin Foundation has been designed to establishes trust through transparency, diffusion, and neutrality.
        The Sovrin Foundation has intentionally invited board members to represent expertise from across multiple industries and geographies, ensuring that special interests – whether commercial, governmental, or otherwise – do not unduly influence decisions. Our intent is to devise a process so that the elected Board of Trustees will be representative of the people and organizations who own identities on the Sovrin network.
        Sovrin Foundation is a non-profit. We don’t actually own the network – no one does, much like the Internet itself. The Sovrin network is public: everyone can get a Sovrin identity. Individuals and organizations own and control their identities. The Sovrin network is permissioned: the infrastructure for ensuring consensus on identity transactions is provided by carefully vetted and permissioned stewards who independently own and operate their nodes on the network.  These combine to form a system of checks and balances that earns trust through action rather than promises.

        We are the Sovrin Foundation.
        </p>
    </div>

    <h2 class="text-center">The Team</h2>

    <div class="container-bios col-lg-4 col-xs-6">
        <h3>Rondle K. Amstutz</h3>
        <h4>Vice Chairman, Sovrin Foundation
            Executive Vice President, Desert Schools Federal Credit Union</h4>
        <p>Ron is a 34 year credit union veteran who has been with Desert Schools since 1998 with responsibility for Information Technology, Product Management, Digital Strategy, Marketing and Community Development. Among other accomplishments, Ron was directly responsible for the development and implementation of “Internet Banking” and bill payment services for the credit union as well as a revitalization of the organization’s brand image in 2001.</p>
            <p>He has represented the credit union industry on multiple advisory boards and steering committees such as CULedger and Corelation Inc. Prior to arriving in Phoenix, Ron worked at four other credit unions in Indiana and South Carolina, leading their technology teams.  He earned a Bachelor of Arts degree in Business Administration from Bethel College.
        </p>
    </div>

    <div class="container-bios col-lg-4 col-xs-6">
        <h3>Phillip J. Windley, Ph.D.</h3>
        <h4>Chairman and President, Sovrin Foundation
            Office of the CIO, Brigham Young University</h4>
        <p>Phil Windley is an Enterprise Architect in the CIO’s office at Brigham Young University. A passionate tech educator, he is the co-founder and organizer of the Internet Identity Workshop, serves as an Adjunct Professor of Computer Science at BYU, writes the popular Technometria blog, and is the  author of the books The Live Web published by Course Technology in 2011 and Digital Identity published by O'Reilly Media in 2005. Phil serves on the Boards of Directors and Advisory Boards for several high-tech companies.</p>
        <p>Phil has been a professor of Computer Science at Brigham Young University and the University of Idaho. In addition, Phil was the Founder and Chief Technology Officer of Kynetx, the company behind the open-source connected-car product, Fuse. He also spent two years as the Chief Information Officer (CIO) for the State of Utah in 2001-2002, serving on Governor Mike Leavitt's Cabinet and as a member of his Senior Staff. Before entering public service, Phil was Vice President for Product Development and Operations at Excite@Home. He was the Founder and Chief Technology Officer (CTO) of iMALL, Inc. an early creator of ecommerce tools. Phil received his Ph.D. in Computer Science from University of California, Davis in 1990.</p>
    </div>

    <div class="container-bios col-lg-4 col-xs-6">
        <h3>Drummond Reed</h3>
        <h4>Secretary, Sovrin Foundation
            Chief Trust Officer, Evernym
        </h4>
        <p>Drummond has spent over two decades working on Internet identity, security, privacy, and trust frameworks. He joined Evernym as Chief Trust Officer after Evernym’s acquisition of Respect Network, where he was CEO, co-founder, and co-author of the Respect Trust Framework, which was honored with the Privacy Award at the 2011 European Identity Conference. Drummond has served as co-chair of the OASIS XDI Technical Committee since 2004, the new semantic data interchange protocol that  implements Privacy by Design. Prior to starting Respect Network, Drummond was Executive Director of two industry foundations: the Information Card Foundation and the Open Identity Exchange, the international not-for-profit clearinghouse for Internet trust frameworks. He has also served as a founding board member of the OpenID Foundation, ISTPA, XDI.org, and Identity Commons. In 2002 he was a recipient of the Digital Identity Pioneer Award from Digital ID World, and in 2013 he was honored as an OASIS Distinguished Contributor.
        </p>
    </div>

    <div class="container-bios col-lg-4 col-xs-6">
        <h3>Phillip J. Windley, Ph.D.</h3>
        <h4>Chairman and President, Sovrin Foundation
            Office of the CIO, Brigham Young University</h4>
        <p>Phil Windley is an Enterprise Architect in the CIO’s office at Brigham Young University. A passionate tech educator, he is the co-founder and organizer of the Internet Identity Workshop, serves as an Adjunct Professor of Computer Science at BYU, writes the popular Technometria blog, and is the  author of the books The Live Web published by Course Technology in 2011 and Digital Identity published by O'Reilly Media in 2005. Phil serves on the Boards of Directors and Advisory Boards for several high-tech companies.</p>
        <p>Phil has been a professor of Computer Science at Brigham Young University and the University of Idaho. In addition, Phil was the Founder and Chief Technology Officer of Kynetx, the company behind the open-source connected-car product, Fuse. He also spent two years as the Chief Information Officer (CIO) for the State of Utah in 2001-2002, serving on Governor Mike Leavitt's Cabinet and as a member of his Senior Staff. Before entering public service, Phil was Vice President for Product Development and Operations at Excite@Home. He was the Founder and Chief Technology Officer (CTO) of iMALL, Inc. an early creator of ecommerce tools. Phil received his Ph.D. in Computer Science from University of California, Davis in 1990.</p>
    </div>

</div>
