<div class="contact-container">

    <div class="hero-container"
         style="background: url('img/contact-bg-01.jpg') no-repeat center center;
              background-size: cover;">
        <div class="container">

            <h1 class="text-center">Contact Us</h1>

            <div class="col-md-6 col-md-push-3">
                <br />
                <br />
                <a href="mailto:contact@sovrin.org" class="button-blue button-full">Please send all enquiries to contact@sovrin.org</a>
                <br />
                <br />
            </div>
        </div>
    </div>
</div>