
<div class="docs-container">

    <div class="hero-container light"
         style="background: url('img/home-bg-01.jpg') no-repeat center center;
              background-size: cover;">
        <div class="container">

            <h1 class="text-center">Library</h1>

            <div class="col-md-6">
                <p class="tall">
                    This library contains Sovrin Foundation created white papers, research, guides, and links to relevant third-party produced documentation.
                </p>
            </div>
        </div>
    </div>
</div>