
<div class="docs-container">

    <div class="hero-container light"
         style="background: url('img/library-bg-01.jpg') no-repeat center center;
              background-size: cover;">
        <div class="container">

            <h1 class="text-center">Library</h1>

            <div class="col-md-6 col-md-push-3 text-center">
                <p class="tall">
                    This library contains Sovrin Foundation created white papers, research, guides, and links to relevant third-party produced documentation.
                </p>

                <!--<a href="/Self-Sovereign Identity - The Breakthrough Opportunity.pdf" class="button-blue button-full" target="_blank">Self-Sovereign Identity - The Breakthrough Opportunity.pdf</a>-->
                <br />
                <a href="/The Inevitable Rise of Self-Sovereign Identity.pdf" class="button-blue button-full" target="_blank">The Inevitable Rise of Self-Sovereign Identity.pdf</a>
                <br />
                <a href="/the-technical-foundations-of-sovrin-v1.pdf" class="button-blue button-full" target="_blank">The Technical Foundations of Sovrin.pdf</a>
                <br />
                <a href="/Becoming a Sovrin Steward.pdf" class="button-blue button-full" target="_blank">Becoming a Sovrin Steward.pdf</a>
                <br />
                <a href="/Sovrin Glossary.pdf" class="button-blue button-full" target="_blank">Sovrin Glossary.pdf</a>
                <br />
                <a href="/Sovrin Developers Getting Started, 29 Sep 2016.pdf" class="button-blue button-full" target="_blank">Sovrin Getting Started</a>
            </div>
        </div>
    </div>
</div>
