<div class="index-container">

  <div class="hero-container light"
       style="background: url('img/home-bg-01.jpg') no-repeat center center;
              background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Trust in the Digital Age<br/> is Broken</h1>
        </div>
      </div>

      <br/>
      <br/>

      <div class="col-md-6">
        <p class="tall">
          The Internet was originally designed for one thing – to allow machines to communicate with one another. As a result, machines have identities on the Internet, but people don’t.  This stunts communication and trust while adding enormous complexity, costing the global economy hundreds of billions of dollars each year.
        </p>
        <br/>
        <a href="/about/solution" class="button-blue">
          LEARN MORE
        </a>
      </div>  
    </div>  
  </div>  

  <div class="hero-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="text-center">Introducing Something New.</h2>
          <h1 class="text-center">Identity for All.</h1>
        </div>
      </div>

      <br/>
      <br/>

      <div class="col-md-6 center-child">
        <img class="logo-large" src="img/logo-large.png"/>
      </div>  
      <div class="col-md-6">
        <p class="tall">
          Self-Sovereign Identity (SSI) is an identity that is 100% owned and controlled by an individual or organization.  No one else can read it, use it, turn it off, or take it away without its owner’s explicit consent. This simple form of identity is private, extremely secure, and goes where you go. This will enable trusted interactions to occur between individuals, institutions, and businesses.
        </p>
      </div>  
    </div>  
  </div>  

  <div class="hero-container"
        style="background: url('img/home-bg-02.jpg') no-repeat center center;
               background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Who we are.</h1>
        </div>
      </div>

      <br/>
      <br/>
      <div class="col-md-6 col-md-offset-3">
        <p class="tall">
          The non-profit Sovrin Foundation is the first of its kind. Our Board of Trustees is composed of a broad group of experts who are diffused across industries and across the globe, ensuring neutrality. We provide just enough human oversight to ensure what happens on the Sovrin Identity Network supports its principles, but we don’t actually own the network. The network is open source and designed to establish trust through transparency, diffusion, and neutrality. 
        </p>

        <br/>
        <br/>

<<<<<<< HEAD
        <a href="/about/bios" class="button-blue button-full">
          MORE ON OUR UNIQUE STRUCTURE
=======
        <a href="/about" class="button-blue button-full">
          READ ABOUT OUR UNIQUE GOVERNANCE
>>>>>>> 3d98c7d85e5f793b6e46dad517f0234ba45755fd
        </a>
      </div>  
    </div>  
  </div>  

  <div class="hero-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Recent Breakthroughs<br/> in Technology.</h1>
        </div>
      </div>

      <br/>
      <br/>
      <div class="col-md-6">
        <p class="tall">
          Online systems that use personal data are centralized, making them treasure chests for attackers. This leaves everyone subject to privacy invasion while managing dozens of usernames and passwords. It also leaves businesses accountable to manage this valuable private information, often at great risk.
        </p>
        <br/>
        <br/>

        <a href="/technology" class="button-blue button-full">
          READ THE WHITE PAPERS
        </a>
      </div>  
      <div class="col-md-6">
        <p class="tall">
          The structure of the Sovrin Identity Network, based upon advanced distributed ledger technology, fundamentally changes that. Distributed ledgers separate data, duplicate it thousands of times, and synchronize each copy across a global network that no single entity controls. Updates are then securely corroborated with the entire network before any changes can be made. Since ownership of the data stays with the individual, any attempt to change so much as a single character without their consent can be immediately detected and is rejected by the network.
        </p>
      </div>  
    </div>  
  </div> 

  <div class="hero-container light"
        style="background: url('img/home-bg-03.jpg') no-repeat center center;
               background-size: cover;">
    <div class="container">
      <div class="col-md-6">
        <h1>Market Applications</h1>
        
        <p class="tall">
          The Internet introduced decentralized communication and created trillions of dollars in new market opportunities. The The Sovrin Identity Network has the same potential as it replaces today’s intermediaries and “middlemen” with secure universal protocols, streamlining interactions and enabling stronger levels of trust. Fraud will be dramatically reduced. Logins will be simpler and far more secure. Governments will slash red tape. The healthcare industry will finally be able to communicate directly, efficiently, with reduced liability, and with patients’ immediate consent. Developing nations will finally have a solution to birth registration, land ownership, vaccination, and refugee identification. And that’s just the beginning.
        </p>

        <br/>
        <br/>

        <a href="/about/supporters" class="button-blue button-full">
          LEARN MORE
        </a>
      </div>  
    </div>  
  </div> 

</div>

