<div class="index-container">

  <div class="hero-container">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Trust in the Digital Age<br/> is broken</h1>
        </div>
      </div>

      <div class="col-md-6">
        <p>
          The Internet was design to allow machines to communicate with one another, not humans. It most certainly wasn’t designed to protect our identities. This egregious shortcoming stunts progress, communication and basic trust. That lack of trust is costing the global economy hundreds of billions of dollars each year.
        </p>
        <br/>
        <a class="button-blue">
          LEARN MORE
        </a>
      </div>  
    </div>  
  </div>  

</div>
