<div class="container">
  <div class="row">
    <div class="text-center"><h1>Global</h1></div>
    <div class="col-xs-12 col-sm-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna urna, lobortis ac arcu quis, imperdiet faucibus arcu. Curabitur nec augue placerat, mollis purus at, scelerisque eros. Vestibulum feugiat orci tellus, rutrum posuere orci feugiat vitae. Vestibulum placerat id nisl ac volutpat. Integer accumsan dolor dui, quis elementum erat mollis sed. Vivamus malesuada iaculis metus, vel egestas enim pharetra et. Nam efficitur velit nulla, in fermentum odio vehicula vel. Nulla mollis quis lacus ut auctor. Vestibulum ligula tortor, cursus id blandit ac, rhoncus eget purus. Fusce id elit non nunc interdum commodo. Aenean lorem metus, scelerisque nec efficitur eget, bibendum non sapien.</p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <img src="/img/globe.png" alt="" width="209px" height="209px"/>
    </div>
  </div>
  <div class="row">
    <div class="text-center"><h1>Free and Open-Source</h1></div>
    <div class="col-xs-12 col-sm-6 text-center">
      <img src="/img/globe.png" alt="" width="209px" height="209px"/>
    </div>
    <div class="col-xs-12 col-sm-6">
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus lacus augue, euismod quis placerat eget, hendrerit eget dolor. Nulla lacinia pulvinar dui, vel molestie eros bibendum id. Duis enim libero, cursus eget ornare sit amet, mattis in ex. Praesent eget nibh eget ante maximus sodales. Mauris maximus odio lorem, sed cursus urna volutpat eu. Donec nec erat facilisis, ullamcorper orci et, dignissim massa. Nunc suscipit lacus nec arcu blandit dictum. Proin non mattis nisi, eget ultricies erat.</p>
    </div>
  </div>
  <div class="row">
    <div class="text-center"><h1>Attribute-Based</h1></div>
    <div class="col-xs-12 col-sm-6">
      <p>Donec vitae tellus vitae elit consectetur sagittis. Mauris sem augue, tincidunt sit amet tellus ac, tincidunt pulvinar mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean non condimentum magna. Mauris sed nulla ligula. Mauris sed maximus mi. Mauris dapibus pretium sagittis. Phasellus et porttitor erat. In ut euismod diam, in efficitur ipsum. Mauris est ligula, blandit sit amet porttitor eu, elementum at nunc. Sed pharetra erat a mauris porta, et vehicula massa molestie. Ut pretium convallis faucibus.</p>
    </div>
    <div class="col-xs-12 col-sm-6 text-center">
      <img src="/img/globe.png" alt="" width="209px" height="209px"/>
    </div>
  </div>
</div>