<div>
  <div class="hero-container container-blue">
    <div class="container">
      <h1 class="text-center">Sovrn Technology</h1>
      <div class="col-xs-12 col-sm-6">
        <h2>Global</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna urna, lobortis ac arcu quis, imperdiet faucibus arcu. Curabitur nec augue placerat, mollis purus at, scelerisque eros. Vestibulum feugiat orci tellus, rutrum posuere orci feugiat vitae. Vestibulum placerat id nisl ac volutpat. Integer accumsan dolor dui, quis elementum erat mollis sed. Vivamus malesuada iaculis metus, vel egestas enim pharetra et. Nam efficitur velit nulla, in fermentum odio vehicula vel. Nulla mollis quis lacus ut auctor. Vestibulum ligula tortor, cursus id blandit ac, rhoncus eget purus. Fusce id elit non nunc interdum commodo. Aenean lorem metus, scelerisque nec efficitur eget, bibendum non sapien.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <img src="/img/globe.png" alt="" width="509px" height="509px"/>
      </div>
    </div>
  </div>
  <div class="hero-container">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <img src="/img/globe.png" alt="" width="509px" height="509px"/>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <h2>Global</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna urna, lobortis ac arcu quis, imperdiet faucibus arcu. Curabitur nec augue placerat, mollis purus at, scelerisque eros. Vestibulum feugiat orci tellus, rutrum posuere orci feugiat vitae. Vestibulum placerat id nisl ac volutpat. Integer accumsan dolor dui, quis elementum erat mollis sed. Vivamus malesuada iaculis metus, vel egestas enim pharetra et. Nam efficitur velit nulla, in fermentum odio vehicula vel. Nulla mollis quis lacus ut auctor. Vestibulum ligula tortor, cursus id blandit ac, rhoncus eget purus. Fusce id elit non nunc interdum commodo. Aenean lorem metus, scelerisque nec efficitur eget, bibendum non sapien.</p>
      </div>
    </div>
  </div>
  <div class="hero-container container-blue">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <h2>Global</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse urna urna, lobortis ac arcu quis, imperdiet faucibus arcu. Curabitur nec augue placerat, mollis purus at, scelerisque eros. Vestibulum feugiat orci tellus, rutrum posuere orci feugiat vitae. Vestibulum placerat id nisl ac volutpat. Integer accumsan dolor dui, quis elementum erat mollis sed. Vivamus malesuada iaculis metus, vel egestas enim pharetra et. Nam efficitur velit nulla, in fermentum odio vehicula vel. Nulla mollis quis lacus ut auctor. Vestibulum ligula tortor, cursus id blandit ac, rhoncus eget purus. Fusce id elit non nunc interdum commodo. Aenean lorem metus, scelerisque nec efficitur eget, bibendum non sapien.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <img src="/img/globe.png" alt="" width="509px" height="509px"/>
      </div>
    </div>
  </div>
</div>