<div>
  <div class="hero-container container-blue">
    <div class="container">
      <h1 class="text-center">Sovrn Technology</h1>
      <div class="col-xs-12 col-sm-6">
        <h2>Global</h2>
        <p>Following the principle of diffuse trust, Sovrin already has nodes in several countries. Eventually Sovrin will have thousands more, carefully spread throughout the world.

(See Public Permissioned and Distributed Ledger below for an explanation of nodes.)</p>
        <button type="button" class="button-blue">LEARN MORE   </button>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <img src="/img/globe.png" alt="" width="509px" height="509px"/>
      </div>
    </div>
  </div>
  <div class="hero-container">
    <div class="container">
      <div class="col-xs-12 col-sm-6">
        <img src="/img/globe.png" alt="" width="509px" height="509px"/>
      </div>
      <div class="col-xs-12 col-sm-6 ">
        <h2>Free and Open-Source</h2>
        <p>Sovrin’s codebase is Apache2 licensed, a permissive open source license that removes important obstacles to widespread implementation and development.

If you’re a developer who’s interested in distributed consensus and/or identity, Join the Cause.</p>
      </div>
    </div>
  </div>
  <div class="hero-container container-blue-dark">
    <div class="container">
      <h2 class="text-center">Attribute-Based</h2>
      <div class="col-xs-12 col-sm-6">
        <p>All identity information is separated into individual attributes, such as birth date, first name, street, pseudonyms, frequent flier numbers, etc. 
          
          To access, login to, or prove something, present only the attributes necessary and nothing else, such as “over 21” without sharing your actual birthday.</p>
      </div>
      <div class="col-xs-12 col-sm-6 text-center">
        <p>This optimizes privacy, as those receiving your attributes have no way of correlating them with unshared attributes such as your name.
          
          Attributes have one or more “attestations” attached to prove authenticity, digitally signed by the individual or relevant third parties. (It’s one thing for you to say you have a degree; it’s quite another when the university says so.)</p>
      </div>
    </div>
  </div>
</div>